dbt-core==1.11.11
dbt-postgres==1.10.1
dbt-adapters==1.10.4

# dbt dependencies
Jinja2==3.1.6
MarkupSafe==3.0.3
protobuf==4.25.3
python-slugify==8.0.4
PyYAML==6.0.1
requests==2.31.0
agate==1.9.1
psycopg2-binary==2.9.9
